# Understand class synatex

In [ ]:
class <class_name>:
    #Docstring
    
    def _init_(self,<parametar>):
        # use intial all variable

# crate class

In [2]:
class Stud:
    # contains the details of student
    
    def __init__(self, name, age, employed, college):
        # initialize object variables
        self.name = name
        self.age = age
        self.employed = employed
        self.education = college
        
    def descp(self):
        print(f"The name of the student is: {self.name}")
        print(f"{self.name} is {self.age} years old.")
        print(f"{self.name} is currently employed {self.employed}.")
        print(f"{self.name} is an alma mater of {self.education}.")
        
    def emp_status(self):
        status_check = input("Are you currently employed? ")
        if status_check == 'y':
            self.employed = "yes"
            self.employee = input("Where are you employed? ")
            self.salary = input("Please enter your salary: ")
        else:
            self.employed = 'no'
                
    def emp_disp(self):
        print(f"{self.name} is employed by: {self.employee}.")
        print(f"{self.name} draws {self.salary} per annum.")

In [3]:
coll = Stud("guru", 20, "yes", "PMIST")

In [4]:
coll01 = Stud("nivash", 21, "no", "PRIST")

In [5]:
coll.descp()

The name of the student is: guru
guru is 20 years old.
guru is currently employed yes.
guru is an alma mater of PMIST.

In [6]:
coll.emp_status()

Are you currently employed? y
Where are you employed? prag
Please enter your salary: 100000

In [7]:
coll.emp_disp()

guru is employed by: prag.
guru draws 100000 per annum.

In [8]:
coll01.descp()

The name of the student is: nivash
nivash is 21 years old.
nivash is currently employed no.
nivash is an alma mater of PRIST.

In [9]:
coll01.emp_status()

Are you currently employed? y
Where are you employed? google
Please enter your salary: 250000

In [10]:
coll01.emp_disp()

nivash is employed by: google.
nivash draws 250000 per annum.