# in general program

In [2]:
num1 = 1
num2 = 2
print(num1+num2)

3

In [5]:
str1 = "python"
str2 = "program"
print(str1 + '  '+str2)

python  program

In [6]:
num = {1,2,3,4,5,6,7,8,9}
len(num)

9

# IN CLASS

In [13]:
class A:
    def explora(self):
        print("explora() method form class A")
        
class B(A):
    def explora(self):
        print("explora() method form class B")

In [17]:
b_obj = B()
a_obj = A()

In [18]:
b_obj.explora()

explora() method form class B

In [19]:
a_obj.explora()

explora() method form class A

In [64]:
class Person:
    # contains the data
    
    def __init__(self, fname, lname, year, age, IDnumb):
        self.fname = fname
        self.lname = lname
        self.DOByear = year
        self.age = age
        self.ID = IDnumb
        
    def disp(self):
        print(self.fname, self.lname)
        print(self.DOByear)
        print(self.age)
        print(self.ID)

In [65]:
class Student(Person):
    #
    
    def __init__(self, name, collage, year_study):
        self.fname = name
        self.collage = collage
        self.year = year_study
        
    def disp(self):
        print(f"{self.fname} studies in {self.collage} and is in year {self.year}.")

In [66]:
person1 = Person("raj","bala",2005,19,12345)
stud1 = Student("guru","MIT",18)
stud2 = Person("guru","balan",1999,20,34343)
person2 = Student("bala","MIT",19)

In [67]:
person1.disp()

raj bala
2005
19
12345

In [68]:
stud1.disp()

guru studies in MIT and is in year 18.

In [69]:
stud2.disp()

guru balan
1999
20
34343

In [70]:
person2.disp()

bala studies in MIT and is in year 19.

# TASK 02

In [96]:
class Vehicle:
    # contains the data
    
    def __init__(self, name, max_speed, millage,):
        self.name = name
        self.max_speed = max_speed
        self.millage = millage

        
    def disp(self):
        print(self.name)
        print(self.max_speed)
        print(self.millage)

In [102]:
vehicle = Vehicle("himalayan",309,77)
vehicle01 = Vehicle("DIKE",300,87)

In [103]:
vehicle.disp()

himalayan
309
77

In [104]:
vehicle01.disp()

DIKE
300
87

# create a child class automobile that will inherit all of the variable and methods of the vehicle class